body {
  background-color: rgb(41, 42, 45);
  color: white;
}


tr:nth-child(even) {
  background-color: rgb(32, 33, 36);
} 



table {
  border: 1.5px solid blue;
  width: 100vw;
  text-align: left;
  border-collapse: collapse;
}

th{
  border: 1px solid rgb(74, 76, 80);
}

th, td {
  font-weight: normal;
  border-right: 1px solid rgb(144, 143, 143);
  padding: 10px;
  font-size: small;
  max-width: 10px;
  max-height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


tr:hover:not(:first-child){
  background-color: rgb(36, 36, 93);
}

th:hover{
  background-color: rgb(22, 34, 102);
} 


.arrow {
  height: 10px;
  width: 10px;
  clip-path: polygon(50% 0%, 100% 50%, 0% 50%);
  background-color: aliceblue;
}

